
    //
    //      MATERIAL DESIGN TYPOGRAPHY STYLES
    //

/* Basic styles */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

html {
  // font-size: 62.5%; // For rem units support
  font-size: 62.5%; // For rem units support
}

html.text-large {
  font-size: 75%;
}

html.text-small {
  font-size: 50%;
}

body {
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


/* Material Design Typography */



// Mixins
.font-size(@fontSize: 14) {
  font-size: @fontSize+0px;
  font-size: (@fontSize/10)+0rem;
}
.line-height(@leadingSize: 14) {
  line-height: @leadingSize+0px;
  line-height: (@leadingSize/10)+0rem;
}
.letter-spacing(@kerningSize: 0) {
  letter-spacing: @kerningSize+0px;
  letter-spacing: (@kerningSize/10)+0rem;
}
.font(@fontSize, @leadingSize, @kerningSize) {
  font-size: @fontSize+0px;
  font-size: (@fontSize/10)+0rem;
  line-height: @leadingSize+0px;
  line-height: (@leadingSize/10)+0rem;
  letter-spacing: @kerningSize+0px;
  letter-spacing: (@kerningSize/10)+0rem;
}

// Typography

// Typographic Scale & Basic Styles
// -------------------------
.display-4 {
  .font(@font-size-display-4, @line-height-display-4, @letter-spacing-display-4);
  font-weight: @font-weight-display-4;
  color: @font-color-display-4;
  text-transform: inherit;
}
.display-3 {
  .font(@font-size-display-3, @line-height-display-3, @letter-spacing-display-3);
  font-weight: @font-weight-display-3;
  color: @font-color-display-3;
  text-transform: inherit;
}
.display-2 {
  .font(@font-size-display-2, @line-height-display-2, @letter-spacing-display-2);
  font-weight: @font-weight-display-2;
  color: @font-color-display-2;
  text-transform: inherit;
}
.display-1 {
  .font(@font-size-display-1, @line-height-display-1, @letter-spacing-display-1);
  font-weight: @font-weight-display-1;
  color: @font-color-display-1;
  text-transform: inherit;
}
.headline {
  .font(@font-size-headline, @line-height-headline, @letter-spacing-headline);
  font-weight: @font-weight-headline;
  color: @font-color-headline;
  text-transform: inherit;
}
.title {
  .font(@font-size-title, @line-height-title, @letter-spacing-title);
  font-weight: @font-weight-title;
  color: @font-color-title;
  text-transform: inherit;
}
.subhead-2 {
  .font(@font-size-subhead-2, @line-height-subhead-2, @letter-spacing-subhead-2);
  font-weight: @font-weight-subhead-2;
  color: @font-color-subhead-2;
  text-transform: inherit;
}
.subhead-1 {
  .font(@font-size-subhead-1, @line-height-subhead-1, @letter-spacing-subhead-1);
  font-weight: @font-weight-subhead-1;
  color: @font-color-subhead-1;
  text-transform: inherit;
}
.body-2 {
  .font(@font-size-body-2, @line-height-body-2, @letter-spacing-body-2);
  font-weight: @font-weight-body-2;
  color: @font-color-body-2;
  text-transform: inherit;
}
.body-1 {
  .font(@font-size-body-1, @line-height-body-1, @letter-spacing-body-1);
  font-weight: @font-weight-body-1;
  color: @font-color-body-1;
  text-transform: inherit;
}
.caption {
  .font(@font-size-caption, @line-height-caption, @letter-spacing-caption);
  font-weight: @font-weight-caption;
  color: @font-color-caption;
  text-transform: inherit;
}
.label {
  .font(@font-size-label, @line-height-label, @letter-spacing-label);
  font-weight: @font-weight-label;
  color: @font-color-label;
  text-transform: inherit;
}
.menu {
  .font(@font-size-menu, @line-height-menu, @letter-spacing-menu);
  font-weight: @font-weight-menu;
  color: @font-color-menu;
  text-transform: inherit;
}
.button {
  .font(@font-size-button, @line-height-button, @letter-spacing-button);
  font-weight: @font-weight-button;
  color: @font-color-button;
  text-transform: uppercase;
}

// Font-size for device
@media only screen and (max-width: 960px) {
  .subhead-2 {
    .font-size(@font-size-dv-subhead);
  }
  .subhead-1 {
    .font-size(@font-size-dv-subhead);
  }
  .body-2 {
    .font-size(@font-size-dv-body);
  }
  .body-1 {
    .font-size(@font-size-dv-body);
  }
  .menu {
    .font-size(@font-size-dv-menu);
  }
}

.display-4, .display-3, .display-2, .display-1  {
  margin: 0 0 @line-height-title/2+0px 0;
  margin-bottom: @line-height-title/20+0rem;
}

.headline, .title, .subhead-2, .subhead-1, .body-2, .body-1, .caption, .label, .menu, .button {
  margin: 0 0 @line-height-body-1/2+0px 0;
  margin-bottom: @line-height-body-1/20+0rem;
}
